SERVER_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=adscreen
DB_USER=adscreen
DB_PASS=adscreen

JWT_SECRET=troque-por-um-secret-gerado-com-openssl-rand-base64-32
JWT_ACCESS_TOKEN_EXPIRATION=900
JWT_REFRESH_TOKEN_EXPIRATION=604800
